.sticky-top .dropdown .cart{
    padding: 1rem;
    color: rgb(172, 171, 171);
    text-align: center
}

.title {
   padding: .75rem;
}

.title .col-md-4 h4{
    color: white;
    padding: .5rem
 }

 .sticky-top .b{
    padding: .5rem;
 }

 .title .pages{
    padding-top: 1rem
 }

body {
    background: url('../img/cover.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    line-height: normal
}

.shop .name {
    padding-top: 2rem;
    padding-bottom: 1rem
}

.shop .pages {
    padding-top: 1rem;
}

.shop .line {
    background: white;
    padding: 1rem
}

.shop .line .buy{
     padding: .5rem
}

.shop .product{
   padding: 1rem;
   text-align: center
}

.shop .product:hover{
     box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
}

.shop .product .detail{
    padding: .75rem;
    text-align: left;
    line-height: 1.5;
 }

 .foot .k{
    background: #007bff;
}

 .foot .form-inline{
    padding: .5rem; 
}

.foot .dk{
    padding: .75rem;
    color: white;
 }

 .foot .dkbtn{
    padding: .5rem;
 }

 .foot2{
    padding: 1rem;
    background: white
 }

 .foot2 .footer-title{
    padding-top: 1rem;
    padding-bottom: .75rem
 }

 .foot2 .footer-content p{
    line-height: 1.25rem
 }

 .foot2 .footer-content2 p{
    line-height: 1.25rem
 }

 .main {
    background: white;
 }

 .main .title2 {
    padding: 2rem;
 }

 .fa-map-marker:before {
    color: white;
}